@for (item of list; track item.faces) {
<div>
  <app-input-number-slide [value]="item.length" [minValue]="1" (valueEvent)="updateLength(item, $event)">
  </app-input-number-slide>
  <button mat-flat-button (click)="rollSum(item.faces, item.length, item.bonus)">
    {{item.length}} D{{item.faces}}
  </button>
  +
  <app-input-number-slide [value]="item.bonus" (valueEvent)="updateBonus(item, $event)">
  </app-input-number-slide>
</div>
<mat-divider></mat-divider>
}

<div>
  <button mat-flat-button (click)="rollMin(20, d20.bonus)">
    2 D20 (small)
  </button>
  <button mat-flat-button (click)="roll(20, d20.bonus)">
    D20
  </button>
  <button mat-flat-button (click)="rollMax(20, d20.bonus)">
    2 D20 (big)
  </button>
  +
  <app-input-number-slide [value]="d20.bonus" (valueEvent)="updateBonus(d20, $event)">
  </app-input-number-slide>
</div>
<mat-divider></mat-divider>
<div>
  <button mat-flat-button (click)="roll(100)">
    D100
  </button>
</div>
<mat-divider></mat-divider>

@if (dataSource.length) {
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="dice">
    <th mat-header-cell *matHeaderCellDef> Dice </th>
    <td mat-cell *matCellDef="let element"> D{{element.faces}} </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <ng-container matColumnDef="results">
    <th mat-header-cell *matHeaderCellDef>
      Results
      <button class="right" mat-flat-button (click)="clearLog()">
        Clear History
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      @for (item of element.all; track item) {
      {{item}},
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}
