mat-form-field, mat-form-field input {
  width: 50px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

mat-slider {
  position: fixed;
  width: 90vw;
  top: 50%;
  left: 5vw;
}
mat-slider .mdc-slider__input {
  opacity: 1;
}
mat-form-field, button {
  margin: 1vmax;
  margin-right: 0vmax;
}
mat-form-field:last-child, button:last-child {
  margin-right: 1vmax;
}

.bg {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
